<div>
    <div class="manage">
        <h1>Here you can navigate to the different CRUD operations that can be preformed on products in the database.</h1>
    </div>
<div class="buttons">
    <button class="manageButton" id="viewButton" (click)="goToView()">View Products</button><br>
    <button class="manageButton" id="updateButton" (click)="goToUpdate()">Update Product</button><br>
    <button class="manageButton" id="addButton" (click)="goToAdd()">Add New Product</button><br>
    <button class="manageButton" id="deleteButton" (click)="goToDelete()">Delete Product</button><br>
</div>
</div>

