<div>
    <h3>Check out!</h3>
    <form onsubmit="goToThankYou()"> 
        <h1>Shipping Information</h1>
        <label>First Name:</label><br/>
        <input type="text"><br/>
        <label>Last Name:</label><br/>
        <input type="text"><br/>
        <label>Street Address</label><br/>
        <input type="text"><br/>
        <label>City</label><br/>
        <input type="text"><br/>
        <label>State</label><br/>
        <input type="text"><br/>
        <label>Zip Code</label><br/>
        <input type="text"><br/>
        <h1>Payment Information</h1>
        <label>Credit Card Number</label><br/>
        <input type="text"><br/>
        <label>First Name:</label><br/>
        <input type="text"><br/>
        <label>Last Name:</label><br/>
        <input type="text"><br/>
        <label>Street Address</label><br/>
        <input type="text"><br/>
        <label>City</label><br/>
        <input type="text"><br/>
        <label>State</label><br/>
        <input type="text"><br/>
        <label>Zip Code</label><br/>
        <input type="text"><br/>
        <!--input type="submit" value="Sumbit Order"-->
    </form>
    <button class="manageButton" (click)="goToThankYou()">Submit Order!</button>
</div>
